<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../vendor/jquery-ui/themes/base/jquery-ui.min.css">
</head>
<body>

<!--显示标签菜单-->
<div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
    <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" role="tablist">
        <li class="ui-state-default ui-corner-top ui-tabs-active ui-state-active" role="tab" tabindex="0"
            aria-controls="tabs-1" aria-labelledby="ui-id-1" aria-selected="true"><a href="#tabs-1"
                                                                                     class="ui-tabs-anchor"
                                                                                     role="presentation" tabindex="-1"
                                                                                     id="ui-id-1">个人肖像</a></li>
        <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-2"
            aria-labelledby="ui-id-2" aria-selected="false"><a href="#tabs-2" class="ui-tabs-anchor" role="presentation"
                                                               tabindex="-1" id="ui-id-2">经历</a></li>

        <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-3"
            aria-labelledby="ui-id-3" aria-selected="false"><a href="#tabs-3" class="ui-tabs-anchor" role="presentation"
                                                               tabindex="-1" id="ui-id-3">简历</a></li>

        <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-4"
            aria-labelledby="ui-id-3" aria-selected="false"><a href="#tabs-4" class="ui-tabs-anchor" role="presentation"
                                                               tabindex="-1" id="ui-id-4">个人主页</a></li>
    </ul>
    <div id="tabs-1" aria-labelledby="ui-id-1" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel"
         aria-expanded="true" aria-hidden="false" style="display: block;">
        <ul>
            <li><a href="#" target="_blank">第一回 甄士隐梦幻识通灵　贾雨村风尘怀闺秀</a></li>
            <li><a href="#" target="_blank">第二回 贾夫人仙逝扬州城　冷子兴演说荣国府</a></li>
            <li><a href="#" target="_blank">第三回 贾雨村夤缘复旧职　林黛玉抛父进京都</a></li>
            <li><a href="#" target="_blank">第四回 薄命女偏逢薄命郎　葫芦僧乱判葫芦案</a></li>
            <li><a href="#" target="_blank">第五回 游幻境指迷十二钗　饮仙醪曲演红楼梦</a></li>
            <li><a href="#" target="_blank">第六回 贾宝玉初试云雨情 刘姥姥一进荣国府</a></li>
            <li><a href="#" target="_blank">第七回 送宫花贾琏戏熙凤 宴宁府宝玉会秦钟</a></li>
            <li><a href="#" target="_blank">第八回 比通灵金莺微露意 探宝钗黛玉半含酸</a></li>
            <li><a href="#" target="_blank">第九回 恋风流情友入家塾 起嫌疑顽童闹学堂</a></li>
            <li><a href="#" target="_blank">第十回 金寡妇贪利权受辱 张太医论病细穷源</a></li>
        </ul>
    </div>
    <div id="tabs-2" aria-labelledby="ui-id-2" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel"
         aria-expanded="false" aria-hidden="true" style="display: none;">
        <ul>
            <li><a href="#" target="_blank">第一回　宴桃园豪杰三结义　斩黄巾英雄首立功</a></li>
            <li><a href="#" target="_blank">第二回　张翼德怒鞭督邮　何国舅谋诛宦竖</a></li>
            <li><a href="#" target="_blank">第三回　议温明董卓叱丁原　馈金珠李肃说吕布</a></li>
            <li><a href="#" target="_blank">第四回　废汉帝陈留践位　谋董贼孟德献刀</a></li>
            <li><a href="#" target="_blank">第五回　发矫诏诸镇应曹公　破关兵三英战吕布</a></li>
            <li><a href="#" target="_blank">第六回　焚金阙董卓行凶　匿玉玺孙坚背约</a></li>
            <li><a href="#" target="_blank">第七回　袁绍磐河战公孙　孙坚跨江击刘表</a></li>
            <li><a href="#" target="_blank">第八回　王司徒巧使连环计　董太师大闹凤仪亭</a></li>
            <li><a href="#" target="_blank">第九回　除暴徒吕布助司徒　犯长安李倔听贾诩</a></li>
            <li><a href="#" target="_blank">第十回　勤王室马腾举义　报父仇曹操兴师</a></li>
        </ul>
    </div>
    <div id="tabs-3" aria-labelledby="ui-id-3" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel"
         aria-expanded="false" aria-hidden="true" style="display: none;">
        <ul>
            <li><a href="#" target="_blank">第1回 张天师祈禳瘟疫 洪太尉误走妖魔</a></li>
            <li><a href="#" target="_blank">第2回 王教头私走延安府 九纹龙大闹史家村</a></li>
            <li><a href="#" target="_blank">第3回 史大郎夜走华阴县 鲁提辖拳打镇关西</a></li>
            <li><a href="#" target="_blank">第4回 赵员外重修文殊院 鲁智深大闹五台山</a></li>
            <li><a href="#" target="_blank">第5回 小霸王醉入销金帐 花和尚大闹桃花村</a></li>
            <li><a href="#" target="_blank">第6回 九纹龙剪径赤松林 鲁智深火烧瓦罐寺</a></li>
            <li><a href="#" target="_blank">第7回 花和尚倒拔垂杨柳 豹子头误入白虎堂</a></li>
            <li><a href="#" target="_blank">第8回 林教头刺配沧州道 鲁智深大闹野猪林</a></li>
            <li><a href="#" target="_blank">第9回 柴进门招天下客 林冲棒打洪教头</a></li>
            <li><a href="#" target="_blank">第10回 林教头风雪山神庙 陆虞候火烧草料场</a></li>
        </ul>
    </div>
    <div id="tabs-4" aria-labelledby="ui-id-3" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel"
         aria-expanded="false" aria-hidden="true" style="display: none;">
        <ul>
            <li><a href="#" target="_blank">第1回</a></li>
            <li><a href="#" target="_blank">第2回 </a></li>
            <li><a href="#" target="_blank">第3回 </a></li>
            <li><a href="#" target="_blank">第4回 </a></li>
            <li><a href="#" target="_blank">第5回 </a></li>
            <li><a href="#" target="_blank">第6回 </a></li>
            <li><a href="#" target="_blank">第7回 </a></li>
            <li><a href="#" target="_blank">第8回 </a></li>
            <li><a href="#" target="_blank">第9回 </a></li>
            <li><a href="#" target="_blank">第10回 </a></li>
        </ul>
    </div>
</div>
<script>
    //显示标签菜单
    $(function(){
        $("#tabs").tabs();
    });




</script>
</body>
</html>